{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">New Note</h1>
                {{ include('Notes/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
