a:hover {
    text-decoration: none;
}
main {
    padding-top: 80px;
}

.btn-new {
    float: right;
}
.actions {
    color: black;
}
.text-area {
    resize: both;
    max-width: 400px;
    min-width: 400px;
    min-height: 75px;
}

td {
    vertical-align: middle!important;
}
#subFamilyGenus {
    height: 0;
    overflow: hidden;
    z-index: 1;
    transition: height .3s linear;
}

.subFamilyGenusActivate {
    height: 150px!important;
    transition: height .3s linear;
}
#speciesCountGenus {
    height: 0;
    overflow: hidden;
    z-index: 1;
    transition: height .3s linear;
}
.speciesCountGenusActivate {
    height: 150px!important;
    transition: height .3s linear;
}
#funFactGenus {
    height: 0;
    overflow: hidden;
    z-index: 1;
    transition: height .3s linear;
}
.funFactGenusActivate
{
    height: 150px!important;
    transition: height .3s linear;
}
#nameGenus {
    height: 0;
    overflow: hidden;
    z-index: 1;
    transition: height .3s linear;
}
.nameGenusActivate {
    height: 150px!important;
    transition: height .3s linear;
}
