a:hover {
    text-decoration: none;
}
main {
    padding-top: 80px;
}

.btn-new {
    float: right;
}
.actions {
    color: black;
}
.text-area {
    resize: both;
    max-width: 400px;
    min-width: 400px;
    min-height: 75px;
}

td {
    vertical-align: middle!important;
}
