.username {
    font-size: 1.3em;
    margin-top: 50px;
    font-weight: bold;
    margin-left: 1px;
}
.username-text {
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin-left: 30%;
}
.user-account
{
    margin-left: 100px;
    background-color: #0c5460;
    color: #9fcdff;
}
#edit-username {
    height: 0;
    overflow: hidden;
    z-index: 1;
    transition: height .3s linear;
}
#edit-avatar {
    height: 0;
    overflow: hidden;
    z-index: 1;
    transition: height .3s linear;
}
#edit-password {
    height: 0;
    overflow: hidden;
    z-index: 1;
    transition: height .3s linear;
}
.edit-username-activate {
    height: 150px!important;
    transition: height .3s linear;
}
.edit-avatar-activate {
    height: 250px!important;
    transition: height .3s linear;
}
.edit-password-activate {
    height: 300px!important;
    transition: height .3s linear;
}
#user_avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
